@font-face {
	font-family: rob;
	src: url(../fonts/RobotoCondensed-Regular.ttf);
}
@font-face {
	font-family: ral;
	src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
	font-family: source;
	src: url(../fonts/SourceSansPro-Regular.ttf);
}
@font-face {
	font-family: cookie;
	src: url(../fonts/Cookie-Regular.ttf);
}
@font-face {
	font-family: fab;
	src: url(../fonts/fa-brands-400.ttf);
}
@font-face {
	font-family: ops;
	src: url(../fonts/OpenSans-Regular.ttf);
}
$tone-1: #0043d3;
$tone-2: #000f99;
$shade: #0007;
$primary: #fffc;
$dark: #000d;
$style: #06af30;
